<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand mx-3" href="/dashboard">Dashboard</a>
    <div class="collapse navbar-collapse flex-grow-0 px-4 d-flex flex-row justify-content-between w-100" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/portofolio/create">Create New Portofolio</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>