<!-- <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#page-top">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#about">Tentang Saya</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#services">Skill</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#portfolio">Portofolio</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#contact">Kontak</a>
  </li>
</ul> -->

<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<div class="navbar-collapse collapse" id="nav">
  <ul class="navbar-nav">
    <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
    <li class="sidebar-nav-item"><a href="#about">Tentang Saya</a></li>
    <li class="sidebar-nav-item"><a href="#services">Skill</a></li>
    <li class="sidebar-nav-item"><a href="#portfolio">Portfolio</a></li>
    <li class="sidebar-nav-item"><a href="#contact">Kontak</a></li>
  </ul>
</div>

