<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', { title: "Login" }) %> 
<body>
    <div class="container">
        <% if (message.length > 0) { %> 
            <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %> 
        <div class="row align-items-center justify-content-center" style="height: 80vh">
            <form action="/user/login" method="post" class="col-md-4">
                <div class="form-group mt-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control input-sm">
                </div>
                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control input-sm" rows=3></textarea>
                </div>
                
                <button class="btn btn-primary mt-2 float-end" type="submit">Login</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %> 
</body>
</html>