<!DOCTYPE html>
<html lang="en">
<%- include('../partials/userheader') %>

    <body>
        <div id="login">
            <h3 class="text-center text-white pt-5">Login form</h3>
            <div class="container">
                <% if (typeof message !=='undefined' && message.length> 0) { %>
                    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                        <%= message %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <div id="login-row" class="row justify-content-center align-items-center">
                            <div id="login-column" class="col-md-6">
                                <div id="login-box" class="col-md-12">
                                    <form id="login-form" class="form" action="/user/register" method="post">
                                        <h3 class="text-center text-info">Register</h3>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" class="form-control input-sm" required
                                                minlength="3">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" class="form-control input-sm"
                                                required minlength="8">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btn btn-info btn-md"
                                                value="submit">
                                        </div>
                                        <div id="register-link" class="text-right">
                                            <a href="/user/login" class="text-info">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </body>