<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %> 
  <body id="page-top">
    <%- include('../partials/navbar') %>  
    <header class="masthead d-flex align-items-center">
      <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Hallo, Saya Kukuh</h1>
        <h3 class="mb-3">
          <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "Cyber Security Analyst", "Android Developer", "IoT Engineer"]'
          ></span>
        </h3>

        <a class="btn btn-primary btn-xl bounce-out-on-hover" href="#about"
          >Info Lengkap</a
        >
      </div>
    </header>
    <!-- About-->
    <section class="content-section bg-light" id="about">
      <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-10">
            <h2>Tentang Saya</h2>
            <p class="lead mb-5">
              Hello! My name is Kukuh Satrio Wibowo. I'm 24 years old and I live
              in Trenggalek. I have completed Diploma degrees at IPB University
              I also have completed Bachelor degrees at Pancasila University I
              am Android Engineer hands-on experienced created various products
              and applications. Deep knowledge of MVVM, MVP, and Clean
              Architecture. Hands-on experience in using libraries such as Hilt,
              Dagger2, Room, LiveData, Retrofit and Mockito. Skilled Android,
              DevOps and IoT Engineer with 3+ years of hands-on experience
              supporting, automating, and optimizing mission critical
              deployments in AWS., leveraging configuration management, CI/CD.,
              and Devops. processes. Built core features for app with 10K+
              download.
            </p>
            <a class="btn btn-dark btn-xl" href="#services">Skill</a>
          </div>
        </div>
      </div>
    </section>

    <section
      class="content-section bg-primary text-white text-center"
      id="services"
    >
      <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Stack</h3>
          <h2 class="mb-5">Skill saya</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3"
              ><i class="devicon-android-plain"></i
            ></span>
            <h4><strong>Android</strong></h4>
            <p class="text-faded mb-0">
              Java, Kotlin, Jetpack, Dependency Injection, MVVM, Modularization
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3"
              ><i class="devicon-kubernetes-plain"></i
            ></span>
            <h4><strong>Cloud Computing</strong></h4>
            <p class="text-faded mb-0">Docker,Kubernetes, AWS, GCP</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3"
              ><i class="devicon-embeddedc-plain"></i
            ></span>
            <h4><strong>Embedded</strong></h4>
            <p class="text-faded mb-0">
              C, Python, Arduino, Raspberry, MQTT, LoRa
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3"
              ><i class="devicon-tensorflow-original"></i
            ></span>
            <h4><strong>Machine Learning</strong></h4>
            <p class="text-faded mb-0">
              Image Augmentation, Natural Language Processing, Tensorflow, Keras
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Callout-->
    <section class="callout">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">
          Silahkan download
          <em>CV</em>
          milik saya
        </h2>
        <a
          class="btn btn-primary btn-xl"
          href="https://kukuhportofolio.netlify.app/"
          >Download Now!</a
        >
      </div>
    </section>
    <!-- Portfolio-->
    <section class="content-section" id="portfolio">
      <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
          <h2 class="mb-5">Portofolio Project</h2>
        </div>
        <div class="row gx-0">
          <div class="col-lg-4">
            <a
              class="portfolio-item"
              href="https://github.com/ksatriow/Intro-To-Modbus"
            >
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">BTrack</div>
                  <p class="mb-0">
                    Bus Tracker
                  </p>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/btrack.png" alt="..." />
            </a>
          </div>
          <div class="col-lg-4">
            <a class="portfolio-item" href="https://github.com/ksatriow/Motion">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">GitFinder</div>
                  <p class="mb-0">Finding git user information</p>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/gitfinder.png" alt="..." />
            </a>
          </div>
          <div class="col-lg-4">
            <a class="portfolio-item" href="https://github.com/ksatriow/WarungAPI">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">WarungKu</div>
                  <p class="mb-0">
                    Frontend and Backend for WarungKu application
                  </p>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/warung.png" alt="..." />
            </a>
          </div>
          <div class="col-lg-4">
            <a class="portfolio-item" href="https://github.com/ksatriow/Motion">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">Motion</div>
                  <p class="mb-0">Movie information</p>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/motion.png" alt="..." />
            </a>
          </div>
          <div class="col-lg-4">
            <a class="portfolio-item" href="https://github.com/ksatriow/FoodFlutter">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">Food Flutter</div>
                  <p class="mb-0">Food information</p>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/food.png" alt="..." />
            </a>
          </div>
          <div class="col-lg-4">
            <a class="portfolio-item" href="https://github.com/ksatriow/BM-API">
              <div class="caption">
                <div class="caption-content">
                  <div class="h2">BM-API</div>
                  <p class="mb-0">Book Management API</p>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/book.png" alt="..." />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section bg-primary text-white">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4" id="emailMe"></h2>
        <a
          class="btn btn-xl btn-light me-4"
          href="mailto:kukuhsatriowibowo@gmail.com"
          >Gmail</a
        >
        <a class="btn btn-xl btn-dark" href="mailto:andkukuh@gmail.com"
          >Outlook</a
        >
      </div>
    </section>
    <!-- Map-->
    <div class="map" id="contact">
      <iframe
        src="https://maps.google.com/maps?q=Trenggalek&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
      <br />
      <small
        ><a
          href="https://maps.google.com/maps?q=Trenggalek&t=&z=13&ie=UTF8&iwloc=&output=embed"
        ></a
      ></small>
    </div>
    <footer class="footer text-center">
      <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a
              class="social-link rounded-circle text-white mr-3"
              href="https://www.linkedin.com/in/kukuh-satrio-wibowo/"
              ><i class="icon-social-linkedin"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              class="social-link rounded-circle text-white mr-3"
              href="https://www.instagram.com/kukuh_phd/"
              ><i class="icon-social-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              class="social-link rounded-circle text-white"
              href="https://github.com/ksatriow"
              ><i class="icon-social-github"></i
            ></a>
          </li>
        </ul>
        <p class="text-muted small mb-0" id="copyright"></p>
      </div>
    </footer>
    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
  </body>
</html>